.row-fluid
  .span12
    %h3
      Report Sets

.row-fluid
  .span6
    - simple_list :report_sets, title: 'My Reports',icon: :folder, create_path: {:controller => 'report_set', :action => 'new'} do
      - @report_sets.each do |rs, i|
        - simple_list_item rs.name, {:controller => 'report_set', action: :view, id: rs.id}
